body {
    margin: 0;
}

ul, ol, li {
    margin: 0;
    list-style: none;
    padding: 0;
}

input, textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.wui-scroll-y {
    height: 100%;
    overflow-y: auto; 
}

@keyframes zoom-in-y {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.zoom-in-y {
    animation: zoom-in-y .2s;
    transform-origin: 50% 0;
}

@keyframes zoom-out-y {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
}

.zoom-out-y {
    animation: zoom-out-y .2s;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
}